<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zjhwork.dao.UserDao">
    <select id="findUser" parameterType="xyz.zjhwork.entity.User" resultType="xyz.zjhwork.entity.User">
        select * from user
        <where>
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="username != null and username!=''">
                and username = #{username}
            </if>
            <if test="password != null and password!=''">
                and password = #{password}
            </if>
            <if test="email != null and email!=''">
                and email = #{email}
            </if>
            <if test="nickName != null and nickName!=''">
                and nickName = #{nickName}
            </if>
            <if test="gender != null and gender!=''">
                and gender = #{gender}
            </if>
        </where>
    </select>

    <update  parameterType="xyz.zjhwork.entity.User" id="updateUser">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="age!=null and age!=''">
                age = #{age},
            </if>
            <if test="nickName!=null and nickName!=''">
                nickName = #{nickName},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark},
            </if>
        </trim>
        where username = #{username}
    </update>
</mapper>