<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <style type="text/css">
        *::-webkit-scrollbar {
            display: none
        }
        *{
            padding:0;
            margin: 0;
        }
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }

        .box-card {
            margin: 10px auto;
            width: 90%;
            max-height: 500px;
        }
    </style>
</head>

<body>
<div id="app">
    <!-- headr -->
    <el-menu default-active="3" class="el-menu-demo" mode="horizontal" @select="handleSelect"
             style="box-shadow: #DDDDDD 0px 1px 0px;height:60px;">
        <el-menu-item index="1">首页</el-menu-item>

        <el-menu-item index="2">写文章</el-menu-item>
        <el-menu-item index="3">个人中心</el-menu-item>
        <el-submenu index="4" style="text-align: right;">
            <template slot="title">{{account.nickname}}</template>
            <!--<el-menu-item index="2-1" >信息修改</el-menu-item>-->
            <el-menu-item index="2-2">退出登录</el-menu-item>
        </el-submenu>
    </el-menu>

    <!-- body -->
    <div :style="'width: 80%;margin: 0 auto;height:'+bodyHeight+'px;y-overflow:scroll;' ">
        <el-row :gutter="40">
            <el-col :span="16">
                <!-- 最新文章模块 -->
                <div class="grid-content bg-purple" v-loading="new_exception_loading"
                     element-loading-text="最新文章拼命加载中~" element-loading-spinner="el-icon-loading">
                    <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-left:8%;margin:30px;">
                        <el-breadcrumb-item>个人中心</el-breadcrumb-item>
                        <el-breadcrumb-item>最新文章</el-breadcrumb-item>
                    </el-breadcrumb>
                    <el-timeline
                            :style="'max-height:'+ (windowHeight-100)+'px;min-height:'+ (windowHeight-130)+'px;overflow-y: scroll;border-right: solid 1px lightgray;padding-right: 20px;'">
                        <el-timeline-item :timestamp="item.createTime" placement="top"
                                          v-for="(item,i) in new_exception">
                            <el-card style="cursor: pointer">
                                <div @click="toExceptionDetail(item.id)">
                                    <el-tooltip class="item" effect="dark" :content="item.title" placement="top-start">
                                        <h4 style="width: 60%">{{item.title.substr(0,40)}}<span v-if="item.title.length>40">...</span></h4>
                                    </el-tooltip>
                                    <p>{{item.author}} 提交于 {{item.createTime}}</p>
                                </div>
                            </el-card>
                        </el-timeline-item>

                    </el-timeline>
                </div>
                <!-- 我的文章模块 -->
                <div v-loading="my_exception_loading" element-loading-text="我的文章拼命加载中~"
                     element-loading-spinner="el-icon-loading" class="grid-content bg-purple"
                     style="border-top: lightgray 1px solid;margin-top: 20px;">
                    <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-left:8%;margin:30px;">
                        <el-breadcrumb-item>个人中心</el-breadcrumb-item>
                        <el-breadcrumb-item>我的文章</el-breadcrumb-item>
                    </el-breadcrumb>
                    <el-timeline
                            :style="'max-height:'+ (windowHeight-100)+'px;overflow-y: scroll;min-height:'+ (windowHeight-130)+'px;border-right: lightgray 1px solid;padding-right: 20px;'">
                        <el-timeline-item :timestamp="item.createTime" placement="top"
                                          v-for="(item,i) in my_exception">
                            <el-card style="cursor: pointer">
                                <div @click="toExceptionDetail(item.id)" >
                                    <el-tooltip class="item" effect="dark" :content="item.title" placement="top-start">
                                        <h4 style="width: 60%">{{item.title.substr(0,20)}}<span v-if="item.title.length>20">...</span></h4>
                                    </el-tooltip>
                                    <p>{{account.nickname}} 提交于 {{item.createTime}}</p>
                                </div>
                                <el-button style="position: absolute;right: 110px;top: 45%;" type="primary" @click="toUpdatePage(item.id)">编辑</el-button>

                                <el-button style="position: absolute;right: 20px;top: 45%;" type="danger" @click="delException(item.id,item.title)">删除</el-button>
                            </el-card>
                        </el-timeline-item>

                    </el-timeline>
                </div>
            </el-col>

            <el-col :span="8">

                <!-- 我的信息/历史记录/我的收藏模块 -->
                <div class="grid-content bg-purple">
                    <!-- 我的信息模块 -->
                    <el-card class="box-card">

                        <div slot="header" class="clearfix">
                            <el-avatar src="http://img.zjhwork.xyz/logo.png" fit="cover" style="float: right; "></el-avatar>
                            <span>{{account.nickname}}的资料卡</span>
                        </div>
                        <div class="grid-content bg-purple" v-loading="my_info_loading"
                             element-loading-text="我的信息拼命加载中~" element-loading-spinner="el-icon-loading">
                            <div>账号：{{account.username}}</div>
                            <hr style="border: solid 0.5px lightgray;width: 90%;">
                            <div>昵称：{{account.nickname}}</div>
                            <hr style="border: solid 0.5px lightgray;width: 90%;">
                            <div>性别：{{account.gender}}</div>
                            <hr style="border: solid 0.5px lightgray;width: 90%;">
                            <div>邮箱：{{account.email}}</div>
                            <hr style="border: solid 0.5px lightgray;width: 90%;">
                        </div>
                    </el-card>
                    <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="我的收藏" name="2">
                            <div class="fav_activities" v-loading="my_fav_loading" element-loading-text="我的收藏拼命加载中~"
                                 element-loading-spinner="el-icon-loading">
                                <el-timeline
                                        :style="'max-height:'+ (windowHeight-210)+'px;overflow-y: scroll;min-height:'+ (windowHeight-210)+'px;'">
                                    <el-timeline-item v-for="(activity, index) in fav_activities" :key="index"
                                                      :icon="activity.icon" :type="activity.type" :color="activity.color"
                                                      :size="activity.size" :timestamp="activity.createTime">
                                        <el-tooltip class="item" effect="dark" :content="activity.title" placement="top-start">
                                            <div @click="toExceptionDetail(activity.id)"
                                                 style="color:dodgerblue;text-decoration: underline;cursor: pointer">
                                                {{activity.title.substr(0,20)}}<span v-if="activity.title.length>20">...</span></div>
                                        </el-tooltip>

                                    </el-timeline-item>
                                </el-timeline>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item title="访问足迹" name="3">
                            <div class="fav_activities" v-loading="my_history_loading"
                                 element-loading-text="我的足迹拼命加载中~" element-loading-spinner="el-icon-loading">
                                <el-timeline
                                        :style="'max-height:'+ (windowHeight-220)+'px;overflow-y: scroll;min-height:'+ (windowHeight-220)+'px;'">
                                    <el-timeline-item v-for="(activity, index) in history_activities" :key="index"
                                                      :icon="activity.icon" :type="activity.type" :color="activity.color"
                                                      :size="activity.size" :timestamp="activity.createTime">
                                        <el-tooltip class="item" effect="dark" :content="activity.title" placement="top-start">
                                            <div @click="toExceptionDetail(activity.id)"
                                                 style="color:dodgerblue;text-decoration: underline;cursor: pointer">
                                                {{activity.title.substr(0,20)}}<span v-if="activity.title.length>20">...</span></div>
                                        </el-tooltip>
                                    </el-timeline-item>
                                </el-timeline>
                            </div>
                        </el-collapse-item>

                    </el-collapse>
                </div>
            </el-col>
        </el-row>

    </div>
    <div class="modal fade myModalLogout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background:#204d74;color: white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title myModalLabel"><span>用户退出</span></h4>
                </div>
                <div class="modal-body myModal_content">
                    <span>确认退出吗？</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelExit">关闭</button>
                    <button type="button" class="btn btn-primary" id="myModal_enter">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.min.js"></script>
<!-- import JavaScript -->
<script crossorigin="anonymous" integrity="sha384-WbhdtWslh0AUD1Dhf8OExUvvjZ/VN6o2HHMsYlDXb6uf3IweMH13dGL4V/KgDc7y"
        src="js/element.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="js/util.js" type="text/javascript" charset="utf-8"></script>
<script src="js/md5.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script>




    new Vue({
        el: '#app',
        data: function () {
            return {
                //框架参数
                activeNames: ['1', '2', '3'],
                windowHeight: 0,
                bodyHeight:0,
                //我的收藏参数
                fav_activities: [{
                    id: '',
                    title: '支持使用图标',
                    createTime: '2018-04-12 20:46',
                    size: 'large',
                    type: 'primary',
                    icon: 'el-icon-star-off'
                }],
                //历史记录参数
                history_activities: [{
                    id: '',
                    title: '支持使用图标',
                    createTime: '2018-04-12 20:46',
                    size: 'large',
                    type: 'primary',
                    icon: 'el-icon-view'
                }],
                //登录接口参数
                url: '',
                account: {
                    username: '',
                    nickname: '',
                    gender: '',
                    email: ''
                },
                //最新文章参数
                new_exception: [{
                    title: '',
                    createTime: '',
                    author: '',
                    id: ''

                }],
                //我的文章参数
                my_exception: [{
                    title: '',
                    createTime: '',
                    id: ''

                }],
                //loading状态
                new_exception_loading: false,
                my_exception_loading: false,
                my_info_loading: false,
                my_fav_loading: false,
                my_history_loading: false
            }
        },
        methods: {

            toUpdatePage(id){
              window.location.href="updatePage.html?id="+id
            },
            //文章删除
            delException(id, title) {
                this.$confirm('确认删除《' + title + '》该文章吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    axios({
                              url:"exception/"+id,
                    method: "DELETE"
            }).then(response => {
                    if (response.data.code == 1) {
                    this.$message.success(response.data.desc)
                    //刷新数据
                    this.refreshData()
                } else {
                        //错误提示
                    this.$message.error(response.data.desc)
                }
            })
            .catch((error) => {
                    this.$message.error(error)
            })

            }).catch(() => {

                });
            },
            //框架方法
            handleSelect(key, keyPath) {
                if (key == 1) {
                    window.location.href = "index.html";
                }
                if (key == 2) {
                    window.location.href = "createMarkdown.html";
                }
                if (key == "2-2") {
                    this.$confirm('确认退出吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.checkUser();

                }).catch(() => {

                    });
                }

            },
            handleChange(val) {
            },
            //退出登录请求
            checkUser() {
                axios({
                    url: "userExit",
                    method: "POST"
                }).then(response => {
                    if (response.data.code == 1) {
                    this.$message.success("下线成功！")
                    window.location.href = "index.html"
                } else {
                    this.$message.error("下线失败！")
                }
            })
            .catch((error) => {
                    this.$message.error(error)
            })
            },
            //刷新页面
            refreshData(){
                this.new_exception_loading = true
                this.my_exception_loading = true
                this.my_info_loading = true
                this.my_fav_loading = true
                this.my_history_loading = true
                this.myInfo();
                this.newListLoading();
                this.myListLoading();
                this.myFavoriteLoading();
                this.historyLoading();
            },
            //检查登录状态
            createMarkdownUserStatus() {
                axios({
                    url: "userStatus",
                    method: "GET"
                }).then(response => {

                    //如果已登录，则进行页面初始化
                    if (response.data.code == 1) {
                    //修改网页名
                    $("title").html("欢迎回来！" + response.data.result[0].username)
                    this.refreshData()

                } else {
                    //如果未登录，跳转到index去
                    window.location.href = "index.html";
                }
            })
            .catch((error) => {
                    this.$message.error(error)
            })
            },
            //加载最新文章
            newListLoading() {
                axios({
                    url:"newListException",
                    method: "GET"
                }).then(response => {
                    this.new_exception = [];
                this.new_exception = response.data;
                this.new_exception_loading = false;
                this.$notify.success("最新文章加载成功！")
            })
            .catch((error) => {
                    this.new_exception_loading = false;
                this.$message.error(error)

            })
            },
            //加载我的文章
            myListLoading() {
                axios({
                    url: "myListException",
                    method: "GET"
                }).then(response => {
                    this.my_exception = [];
                this.my_exception = response.data;
                this.my_exception_loading = false;
                this.$notify.success("我的文章加载成功！")
            })
            .catch((error) => {
                    this.my_exception_loading = false;
                this.$message.error(error)
            })
            },
            //加载用户信息
            myInfo() {
                axios({
                    url: "userInfo",
                    method: "GET"
                }).then(response => {
                    this.account = {
                    username: response.data.username,
                    nickname: response.data.nickName,
                    gender: response.data.gender,
                    email: response.data.email
                }
                this.my_info_loading = false;
                this.$notify.success("我的信息加载成功！")
            })
            .catch((error) => {
                    this.my_info_loading = false;
                this.$message.error(error)
            })
            },
            //加载我的收藏
            myFavoriteLoading() {
                var that = this;
                axios({
                    url:  "findFavByUsername",
                    method: "GET"
                }).then(response => {
                    this.fav_activities = [];
                response.data.forEach(function (item) {
                    that.fav_activities.push({
                        id: item.id,
                        title: item.title,
                        createTime: item.createTime,
                        size: 'large',
                        type: 'primary',
                        icon: 'el-icon-star-off'
                    })

                })
                this.my_fav_loading = false;
                this.$notify.success("我的收藏加载成功！")
            })
            .catch((error) => {
                    this.my_fav_loading = false;
                this.$message.error(error)
            })
            },
            //加载历史记录
            historyLoading() {
                var that = this
                axios({
                    url:"findHistoryByUsername",
                    method: "GET"
                }).then(response => {
                    this.history_activities = [];
                response.data.forEach(function (item) {
                    that.history_activities.push({
                        id: item.id,
                        title: item.title,
                        createTime: item.createTime,
                        size: 'large',
                        color: 'darkgoldenrod',
                        icon: 'el-icon-view'
                    })
                })
                this.my_history_loading = false;
                this.$notify.success("我的历史记录加载成功！")
            })
            .catch((error) => {
                    this.my_history_loading = false;
                this.$message.error(error)
            })
            },
            //链接文章详情
            toExceptionDetail(id) {
                window.open("markdownDetail.html?id=" + id)
            }

        },
        //初始化
        created: function () {
            //窗体高度自适应
            this.windowHeight = Number((window.innerHeight-60) / 2);
            this.bodyHeight = Number((window.innerHeight-100))
            //页面初始化
            this.createMarkdownUserStatus()
        }
    })
</script>

</html>
